In [7]:
import numpy as np

In [9]:
import pandas as pd

In [5]:
arr = np.array([[1, 2], [3, 4]])

In [13]:
df = pd.DataFrame(arr, columns=["A", "B"])

In [15]:
df

   A  B
0  1  2
1  3  4