In [4]:
import pandas as pd

In [6]:
# Converting python List to DataFrame.
data = [["Ram", 10], ["Meher", 20]]
df = pd.DataFrame(data)
print(df)

       0   1
0    Ram  10
1  Meher  20

In [9]:
# Also
df = pd.DataFrame(data, columns=["Avatar", "No."])
print(df)

  Avatar  No.
0    Ram   10
1  Meher   20