In [19]:
import pandas as pd

In [21]:
df = pd.read_csv("Artists.csv")

In [23]:
df

,Name,ID,Gender,Age,Country,Genres,Popularity,Followers
0,Drake,3TVXtAsR1Inumwj472S9r4,male,33,CA,"['canadian hip hop', 'canadian pop', 'hip hop'...",95,83298497
1,Post Malone,246dkjvS1zLTtiykXe5h60,male,25,US,"['dfw rap', 'melodic rap', 'pop', 'rap']",86,43130108
2,Ed Sheeran,6eUKZXaKkcviH0Ku9w2n3V,male,29,GB,"['pop', 'singer-songwriter pop', 'uk pop']",87,115998928
3,J Balvin,1vyhD5VmyZ7KMfW5gqLgo5,male,35,CO,"['reggaeton', 'reggaeton colombiano', 'trap la...",83,38028010
4,Bad Bunny,4q3ewBCX7sLwd24euuV69X,male,26,PR,"['reggaeton', 'trap latino', 'urbano latino']",95,77931484
5,Justin Bieber,1uNFoZAHBGtllmzznpCI3s,male,26,CA,"['canadian pop', 'pop']",88,75112165
6,Ozuna,1i8SpTcr7yvPOmcqrbnVXY,male,28,PR,"['puerto rican pop', 'reggaeton', 'trap latino...",84,38192380
7,Ariana Grande,66CXWjxzNUsdJxJ2JdwvnR,female,27,US,['pop'],88,95710972
8,Khalid,6LuN9FCkKOj5PcnpouEgny,male,22,US,"['pop', 'pop r&b']",81,16282583

In [25]:
df.head

<bound method NDFrame.head of             Name                      ID  Gender  Age Country  \
0          Drake  3TVXtAsR1Inumwj472S9r4    male   33      CA
1    Post Malone  246dkjvS1zLTtiykXe5h60    male   25      US
2     Ed Sheeran  6eUKZXaKkcviH0Ku9w2n3V    male   29      GB
3       J Balvin  1vyhD5VmyZ7KMfW5gqLgo5    male   35      CO
4      Bad Bunny  4q3ewBCX7sLwd24euuV69X    male   26      PR
5  Justin Bieber  1uNFoZAHBGtllmzznpCI3s    male   26      CA
6          Ozuna  1i8SpTcr7yvPOmcqrbnVXY    male   28      PR
7  Ariana Grande  66CXWjxzNUsdJxJ2JdwvnR  female   27      US
8         Khalid  6LuN9FCkKOj5PcnpouEgny    male   22      US

                                              Genres  Popularity  Followers
0  ['canadian hip hop', 'canadian pop', 'hip hop'...          95   83298497
1           ['dfw rap', 'melodic rap', 'pop', 'rap']          86   43130108
2         ['pop', 'singer-songwriter pop', 'uk pop']          87  115998928
3  ['reggaeton', 'reggaeton colombiano', 'trap la...          83   38028010
4      ['reggaeton', 'trap latino', 'urbano latino']          95   77931484
5                            ['canadian pop', 'pop']          88   75112165
6  ['puerto rican pop', 'reggaeton', 'trap latino...          84   38192380
7                                            ['pop']          88   95710972
8                                 ['pop', 'pop r&b']          81   16282583  >

In [27]:
df['Name']

0            Drake
1      Post Malone
2       Ed Sheeran
3         J Balvin
4        Bad Bunny
5    Justin Bieber
6            Ozuna
7    Ariana Grande
8           Khalid
Name: Name, dtype: object

In [29]:
df['Name'][2]

'Ed Sheeran'

In [31]:
type(df)

pandas.core.frame.DataFrame

In [33]:
df.loc[5]    # For Accessing A particular Row By Label.

Name                    Justin Bieber
ID             1uNFoZAHBGtllmzznpCI3s
Gender                           male
Age                                26
Country                            CA
Genres        ['canadian pop', 'pop']
Popularity                         88
Followers                    75112165
Name: 5, dtype: object

In [35]:
df.iloc[5]   # For Accessing A particular Row By Index/Position.

Name                    Justin Bieber
ID             1uNFoZAHBGtllmzznpCI3s
Gender                           male
Age                                26
Country                            CA
Genres        ['canadian pop', 'pop']
Popularity                         88
Followers                    75112165
Name: 5, dtype: object

In [37]:
df.loc[6, "Name"]    # loc[x-axis, y-axis(name)]

'Ozuna'

In [43]:
df.iloc[6, 0]        # iloc[x-axis, y-axis]

'Ozuna'

In [47]:
df.loc[0:4, ['Name', 'Country']]    # Inclusive

          Name Country
0        Drake      CA
1  Post Malone      US
2   Ed Sheeran      GB
3     J Balvin      CO
4    Bad Bunny      PR

In [49]:
df.iloc[0:4, 0:4]    # Exclusive

          Name                      ID Gender  Age
0        Drake  3TVXtAsR1Inumwj472S9r4   male   33
1  Post Malone  246dkjvS1zLTtiykXe5h60   male   25
2   Ed Sheeran  6eUKZXaKkcviH0Ku9w2n3V   male   29
3     J Balvin  1vyhD5VmyZ7KMfW5gqLgo5   male   35

In [51]:
df.at[0, 'Name']    # For accessing a particular cell.

'Drake'

In [53]:
df.iat[0, 0]    # Slower than "at".

'Drake'

In [59]:
df[df['Gender'] == 'female']    # for filtering data.

,Name,ID,Gender,Age,Country,Genres,Popularity,Followers
7,Ariana Grande,66CXWjxzNUsdJxJ2JdwvnR,female,27,US,['pop'],88,95710972

In [61]:
df[df['Gender'] == 'female']['Name']    # Chaining

7    Ariana Grande
Name: Name, dtype: object

In [69]:
df[(df['Age'] > 25) & (df['Popularity'] > 90)]

,Name,ID,Gender,Age,Country,Genres,Popularity,Followers
0,Drake,3TVXtAsR1Inumwj472S9r4,male,33,CA,"['canadian hip hop', 'canadian pop', 'hip hop'...",95,83298497
2,Ed Sheeran,6eUKZXaKkcviH0Ku9w2n3V,male,29,GB,"['pop', 'singer-songwriter pop', 'uk pop']",87,115998928
3,J Balvin,1vyhD5VmyZ7KMfW5gqLgo5,male,35,CO,"['reggaeton', 'reggaeton colombiano', 'trap la...",83,38028010
4,Bad Bunny,4q3ewBCX7sLwd24euuV69X,male,26,PR,"['reggaeton', 'trap latino', 'urbano latino']",95,77931484
5,Justin Bieber,1uNFoZAHBGtllmzznpCI3s,male,26,CA,"['canadian pop', 'pop']",88,75112165
6,Ozuna,1i8SpTcr7yvPOmcqrbnVXY,male,28,PR,"['puerto rican pop', 'reggaeton', 'trap latino...",84,38192380
7,Ariana Grande,66CXWjxzNUsdJxJ2JdwvnR,female,27,US,['pop'],88,95710972

In [71]:
# Also
df[(df['Age'] > 25) | (df['Popularity'] > 90)]

,Name,ID,Gender,Age,Country,Genres,Popularity,Followers
0,Drake,3TVXtAsR1Inumwj472S9r4,male,33,CA,"['canadian hip hop', 'canadian pop', 'hip hop'...",95,83298497
2,Ed Sheeran,6eUKZXaKkcviH0Ku9w2n3V,male,29,GB,"['pop', 'singer-songwriter pop', 'uk pop']",87,115998928
3,J Balvin,1vyhD5VmyZ7KMfW5gqLgo5,male,35,CO,"['reggaeton', 'reggaeton colombiano', 'trap la...",83,38028010
4,Bad Bunny,4q3ewBCX7sLwd24euuV69X,male,26,PR,"['reggaeton', 'trap latino', 'urbano latino']",95,77931484
5,Justin Bieber,1uNFoZAHBGtllmzznpCI3s,male,26,CA,"['canadian pop', 'pop']",88,75112165
6,Ozuna,1i8SpTcr7yvPOmcqrbnVXY,male,28,PR,"['puerto rican pop', 'reggaeton', 'trap latino...",84,38192380
7,Ariana Grande,66CXWjxzNUsdJxJ2JdwvnR,female,27,US,['pop'],88,95710972

In [73]:
# Querying with .query()
df.query("Age > 30 and Popularity > 90")      # IT IS BASED ON SQL.

,Name,ID,Gender,Age,Country,Genres,Popularity,Followers
0,Drake,3TVXtAsR1Inumwj472S9r4,male,33,CA,"['canadian hip hop', 'canadian pop', 'hip hop'...",95,83298497

In [ ]:
# Queries:-

# 1. Column names become variables
# You can reference column names directly in the query string:

# df.query("age > 25 and city == 'Delhi'")

# 2. String values must be in quotes
# Use single or double quotes around strings in the expression:

# df.query("name == 'Harry'")

# If you have quotes inside quotes, mix them:

# df.query('city == "Mumbai"')

# 3. Use backticks for column names with spaces or special characters
# If a column name has spaces, use backticks (`):

# df.query("`first name` == 'Alice'")

# 4. You can use @ to reference Python variables
# To pass external variables into .query():

# age_limit = 30
# df.query("age > @age_limit")

# 5. Logical operators
# Use these:

# and, or, not — instead of &, |, ~
# ==, !=, <, >, <=, >=
# Bad:

# df.query("age > 30 & city == 'Delhi'")  # ❌

# Good:

# df.query("age > 30 and city == 'Delhi'")  # ✅

# 6. Chained comparisons
# Just like Python:

# df.query("25 < age <= 40")

# 7. Avoid using reserved keywords as column names
# If you have a column named class, lambda, etc., you’ll need to use backticks:

# df.query("`class` == 'Physics'")

# 8. Case-sensitive
# Column names and string values are case-sensitive:

# df.query("City == 'delhi'")  # ❌ if actual value is 'Delhi'

# 9. .query() returns a copy, not a view
# The result is a new DataFrame. Changes won't affect the original unless reassigned:

# filtered = df.query("age < 50")