In [5]:
import pandas as pd

In [7]:
# SERIES
s = pd.Series([20, 15, 30, 45, 90])

In [9]:
type(s)

pandas.core.series.Series

In [11]:
print(s)

0    20
1    15
2    30
3    45
4    90
dtype: int64

In [13]:
s = pd.Series([20, 15, 30, 45, 90], index=["DEV", "RUDRA", "VASU", "SNEHA", "ISHA"])  # WE CAN ALSO GIVE INDEXES.

In [15]:
s

DEV      20
RUDRA    15
VASU     30
SNEHA    45
ISHA     90
dtype: int64

In [17]:
s["DEV"]

20

In [19]:
# DATAFRAMES
data = {
    "Name": ["Alice", "bob", "charlie"],
    "Age":  [20, 25, 40],
    "State": ["SRE", "UP", "UK"]
}

In [21]:
df = pd.DataFrame(data)

In [23]:
df

      Name  Age State
0    Alice   20   SRE
1      bob   25    UP
2  charlie   40    UK

In [25]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [27]:
df.columns

Index(['Name', 'Age', 'State'], dtype='object')

In [29]:
data = [["Meher", 7], ["Devu", 6], ["Krishna", 27]]

In [31]:
data

[['Meher', 7], ['Devu', 6], ['Krishna', 27]]

In [33]:
pd.DataFrame(data, columns=["Name", "Fav. No."])

      Name  Fav. No.
0    Meher         7
1     Devu         6
2  Krishna        27